  <!-- Place this in the first col-3 div of recipe.index -->
  <br />
  <div class="container">
    <div class="card border-light">
      <div class="btn-group-vertical">
        <%= link_to "Appetizers", recipes_path(category: "appetizer"), class: "btn btn-secondary" %>
        <%= link_to "Soups", recipes_path(category: "soup"), class: "btn btn-secondary" %>
        <%= link_to "Salads", recipes_path(category: "salad"), class: "btn btn-secondary" %>
        <%= link_to "Vegetables", recipes_path(category: "vegetable"), class: "btn btn-secondary" %>
        <%= link_to "The Main Dish", recipes_path(category: "the main dish"), class: "btn btn-secondary" %>
        <%= link_to "Desserts", recipes_path(category: "dessert"), class: "btn btn-secondary"%>
        <%= link_to "Pastry", recipes_path(category: "pastry"), class: "btn btn-secondary"%>
        <%= link_to "Pies", recipes_path(category: "pies"), class: "btn btn-secondary" %>
        <%= link_to "Cookies", recipes_path(category: "cookies"), class: "btn btn-secondary" %>
        <%= link_to "Breads", recipes_path(category: "breads"), class: "btn btn-secondary"%>
        <%= link_to "Breakfast", recipes_path(category: "breakfast"), class: "btn btn-secondary" %>
        <%= link_to "The Mixed Bag", recipes_path(category: "the mixed bag"), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<br />