<div class="card">
  <div class="card-body">
    <%= form_for @recipe do | f | %>

      <%= render "shared/errors", object: @recipe %>

      <%= f.text_field :name, class: "form-control", placeholder: "Recipe Name" %><br />
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %><br />
      <%= f.text_field :author, class: "form-control", placeholder: "Recipe Author" %><br />

    <p><strong>Ingredients:</strong></p>
      <div id="ingredients">
        <%= f.fields_for :ingredients do | ingredient | %>
          <% render "ingredients_fields", f: ingredient %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "Add ingredient", f, :ingredients, class: "btn btn-secondary" %>
      </div>
  
    <p><strong>Instructions:</strong></p>
      <div id="instructions">
        <%= f.fields_for :instructions do | instruction | %>
          <% render "instructions_fields", f: instruction %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "add instruction", f, :instructions, class: "btn btn-secondary" %>
      </div>

  <p><strong>Tags:</strong></p>
    <%= f.text_field :all_tags, class: "form-control", placeholder: "Add comma-separated list of tags (like bread, the main dish, etc,)" %>

    <%= f.submit class: "btn btn-secondary" %>
<% end %>
  </div>
</div>