<div class="card border-danger">
  <div class="card-body">
    <%= form_for @recipe do | f | %>

      <%= render "shared/errors", object: @recipe %>

      <%= f.text_field :title, class: "form-control", placeholder: "Recipe Name" %><br />
      <%= f.text_area :description, class: "form-control", placeholder: "Description", id: "wysiwyg" %><br />
      <%= f.text_field :author, class: "form-control", placeholder: "Recipe Author" %><br />



    <p><strong>Ingredients:</strong></p>
      <div id="ingredients">
        <%= f.fields_for :ingredients, @recipe.ingredients.build do | ingredient | %>
          <% render "ingredient_fields", f: ingredient %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "Add another ingredient", f, :ingredients, class: "btn btn-secondary" %>
      </div>


    <br />
    <br />

    <p><strong>Instructions:</strong></p>
      <div id="instructions">
        <%= f.fields_for :instructions, @recipe.instructions.build do | instruction | %>
          <% render "instruction_fields", f: instruction %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "Add another instruction", f, :instructions, class: "btn btn-secondary" %>
      </div><br />

  <p><strong>Tags:</strong></p>
    <%= f.text_field :all_tags, class: "form-control", placeholder: "Add comma-separated list of tags (like bread, the main dish, etc,)" %><br /><br />

    <%= f.submit "Post recipe", class: "btn btn-secondary" %>
    <%= render "shared/edit_toolbar" %>
<% end %>
  </div>
</div>