<div class="nested-fields">
  <div class="row">
    <div class="field col-2">
      <%= f.text_field :quantity, class: "form-control", placeholder: "Amt"  %><br />
    </div>

    <div class="field  col-2">
      <%= f.text_field :measurement, class: "form-control", placeholder: "Meas"   %>
    </div>

    <div class="field col-3">
      <%= f.text_field :name, class: "form-control", placeholder: "Name"   %>
    </div>

    <div class="field col-3">
      <%= f.text_field :description, class: "form-control", placeholder: "(ie. chopped, grated, etc)"   %>
    </div>

    <div class="col-2" style="margin: auto; width: 75%"><%= link_to_remove_association "Remove", f %>
    </div>
  </div>
</div>
