<div class="nested-fields">
  <%= f.text_field :quantity, class: "form-control", placeholder: "Amount", name: "Amount"  %>

  <%= f.text_field :measurement, class: "form-control", placeholder: "Measurement", name: "Measurement"   %>

  <%= f.text_field :name, class: "form-control", placeholder: "Ingredient name", name: "Ingredient name"   %>

  <%= f.text_field :description, class: "form-control", placeholder: "Additional description (ie. chopped, grated, etc)", name: "Additional description"   %>

  <sub><%= link_to_remove_association "Delete ingredient", f %></sub>
</div>