<%= form_for @recipe do |form| %>

  <% if @recipe.errors.any? %>
    <div id="error explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do | msg | %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </p>
  
  <p>
    <%= form.label :course %><br>
    <%= form.text_field :course %><br>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
  </p>

  <%= form.fields_for :ingredient do | ingred_form | %>
    <p>
      <%= ingred_form.label :quantity %><br>
      <%= ingred_form.text_area :quantity %>
    </p>

    <p>
      <%= ingred_form.label :measurement %><br>
      <%= ingred_form.text_area :measurement %>
    </p>

    <p>
      <%= ingred_form.label :name %><br>
      <%= ingred_form.text_area :name %>
    </p>

    <p>
      <%= ingred_form.label :description %><br>
      <%= ingred_form.text_area :description %>
    </p>
  <% end %>
  
  <%= form.fields_for :instruction do | instr_form | %>
    <p>
      <%= instr_form.label :description %><br>
      <%= instr_form.text_area :description %>
    </p>
  <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>