<div class="jumbotron">
  <h1><%= @recipe.title %></h1>  
  <hr class="my-4">
  <p><%= @recipe.description %></p>
  <p class="lead">
    <i><%= @recipe.author %></i>
  </p>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">  
    <h4>Ingredients</h4>
    <p><%= render @recipe.ingredients %></p>
  </div>
  <div class="container col-3"></div>
</div>

<br>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h4>Instructions </h4>
    <p class="instructions"><%= render @recipe.instructions %></p>
  </div>
  <div class="container col-3"></div>
</div>

<br>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% @recipe.tags.each do |tag| %>
      <span class="badge badge-pill badge-success">
        <a href="/"><%= tag.name %></a>
      </span>
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>

<br>
<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% if current_user == @recipe.user %>
      <button type="button" class="btn btn-secondary">
        <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
      </button>

      <button type="button" class="btn btn-secondary">
        <%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" } %>
      </button>
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>

<br />
<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h5>Comments</h5>
      <%= render @recipe.comments %>
  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h6>Add a Comment</h6>
    
      <%= render "comments/form", object: @recipe %>

  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <button type="button" class="btn btn-secondary">
      <%= link_to "All Recipes", recipes_path %>
    </button>
  </div>
  <div class="container col-3"></div>
</div>