<h2>
  <strong><%= @recipe.name %></strong>
</h2>

<p>
  <i><%= @recipe.description %></i>
</p>

<p>This <%= @recipe.course %> brought to you by <%= @recipe.user.email %></p>

<p>
  <strong>Ingredients:</strong>
</p>
<p>
  <%= render @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
</p>
<p>
  <%= render @recipe.instructions %>
</p>
<br>


<h5>Comments</h5>
  <%= render @recipe.comments %>


<h5>Add a Comment</h5>
  <%= render "comments/form" %>


<%= link_to "Edit", edit_recipe_path(@recipe) %>
<%= link_to "Back", recipes_path %>