<h2>
  <strong><%= @recipe.name %></strong>
</h2>
 
<p>
  <i><%= @recipe.description %></i>
</p>

<p>This <%= @recipe.course %> brought to you by <%= @recipe.author %></p>

<p>
  the <strong>ingredients</strong> will go here
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<h3>Comments</h3>
<%= render @recipe.comments %>

<h4>Add a Comment</h4>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %>
<%= link_to 'Back', recipes_path %>