<%= form_with(model: [ @recipe, @recipe.ingredients.build ], local: true) do %>
  <%= fields_for :ingredient do | form | %>
  <p>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity %>
  </p>

  <p>
    <%= form.label :measurement %><br>
    <%= form.text_area :measurement %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>