<div class="card border-success">
  <div class="card-body">
    <%= form_for @story do | f | %>

    <%= render "shared/errors", object: @story %>

      <%= f.text_field :title, class: "form-control", placeholder: "Story Title" %><br />

      <%= f.text_field :author, class: "form-control", placeholder: "Author" %><br />

    <div id="wysihtml-toolbar" style="display: none;"> 
        <button type="button" class="btn btn-secondary btn-sm" data-wysihtml-command="bold"><strong>bold</strong></button>
        <button type="button" class="btn btn-secondary btn-sm" data-wysihtml-command="italic"><i>italic</i></button>
        <button  type="button" class="btn btn-secondary btn-sm" data-wysihtml-command="underline"><u>underline</u></button>
          
        <!-- Some wysihtml5 commands require extra parameters -->
        <button type="button" class="btn btn-secondary btn-sm" data-wysihtml-command="foreColor" data-wysihtml-command-value="red" style="color: #d9534f">red</button>
        <button type="button" class="btn btn-secondary btn-sm" data-wysihtml-command="foreColor" data-wysihtml-command-value="green" style="color: #4BBF73">green</button>
        <button type="button" class="btn btn-secondary btn-sm" data-wysihtml-command="foreColor" data-wysihtml-command-value="blue" style="color: #007bff">blue</button>
      </div>


      <%= f.text_area :description, class: "form-control", placeholder: "Tell your story...", id: "editable" %><br />
     
      <p><strong>Tags:</strong></p>
        <%= f.text_field :all_tags, class: "form-control", placeholder: "Add comma-separated list of tags (like bread, the main dish, etc,)" %><br /><br />

      <%= f.submit class: "btn btn-secondary" %>

<% end %>
  </div>
</div>