<div class="jumbotron">
  <h2><%= @story.title %></h2>
  <hr class="my-4">
  <p class="lead">
    <i><%= @story.author %></i>
  </p>
</div>

<section>
  <div id="page" class="container">
    <p class="fr-view"><%= raw @story.description %></p>

    <% @story.tags.each do |tag| %>
      <span class="badge badge-pill badge-success"><%= tag.name %></span>
    <% end %>
  </div>

<br />

<% if current_user == @story.user %>
  <div class="container">
      <button type="button" class="btn btn-secondary">
        <%= link_to 'Edit Story', edit_story_path(@story) %>
      </button>

      <button type="button" class="btn btn-secondary">
        <%= link_to 'Delete Story', story_path(@story), method: :delete, data: { confirm: "Are you sure?" } %>
      </button>
  </div>
<% end %>

<br />

  <div class="container">
    <div class="card border-primary">
      <div class="card-body">
        <h5>Comments</h5>
        <div class="fr-view"><%= render @story.comments %></div>
        <h6>Add a Comment</h6>
          <%= render "comments/form", object: @story %>
      </div>
    </div>
  </div>

<br />


  <div class="container">
    <button type="button" class="btn btn-secondary">
      <%= link_to "All Stories", stories_path %>
    </button>
  </div>
</section>