<div class="jumbotron">
  <h1><%= @story.title %></h1>  
  <hr class="my-4">
  <p class="lead">
    <i><%= @story.author %></i>
  </p>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">  
    <h4></h4>
    <p><%= @story.description %></p>
  </div>
  <div class="container col-3"></div>
</div>

<br>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% @story.tags.each do |tag| %>
      <span class="badge badge-pill badge-danger"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% if current_user == @story.user %>
      <button type="button" class="btn btn-secondary">
        <%= link_to 'Edit Story', edit_story_path(@story) %>
      </button>

      <button type="button" class="btn btn-secondary">
        <%= link_to 'Delete Story', recipe_path(@story), method: :delete, data: { confirm: "Are you sure?" } %>
      </button>
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>

<br />
<br />
<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h5>Comments</h5>
      <%= render @story.comments %>
  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h6>Add a Comment</h6>
    
      <%= render "comments/form", object: @story %>

  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <button type="button" class="btn btn-secondary">
      <%= link_to "All Stories", stories_path %>
    </button>
  </div>
  <div class="container col-3"></div>
</div>