<div class="card border-warning">
  <div class="card-body">
    <%= form_for @photo do | f | %>

      <%= render "shared/errors", object: @photo %>

      <%= f.text_field :title, class: "form-control", placeholder: "Photo Title"  %><br />

      <%= f.text_area :description, class: "form-control", placeholder: "Caption", id: "wysiwyg" %><br />

      <%= f.text_field :author, class: "form-control", placeholder: "Photo credit"  %><br />

      <%= f.file_field :images, multiple: true, direct_upload: true %><br />
      <br />
      <p><strong>Tags:</strong></p>
        <%= f.text_field :all_tags, class: "form-control", placeholder: "Add comma-separated list of tags (like bread, the main dish, etc,)" %><br /><br />

      <div tabindex="0"><%= f.submit class: "btn btn-secondary" %>
        <%= render "shared/edit_toolbar" %>
      </div>
    
    <% end %>
  </div>
</div>