<%= render "shared/create_post" %>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% @photos.each do |photo| %>

      <div class="card border-warning"> 
        <div class="card-body" style="align-self: center">
          <h4 class="care-title"><%= link_to photo.title, photo_path(photo) %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= photo.author %></h6>
            
              <% photo.images.each do | image | %>
              
                <%= image_tag image.variant(resize: "300x300") %>
              
                
              <% end %>

            <p class="card-text fr-view"><%= raw photo.description %></p>
            <p><% photo.tags.each do |tag| %>
              <span class="badge badge-pill badge-warning">
                <%= tag.name %> 
              </span>
              <% end %>
            </p> 
        </div>
      </div>

      <br />
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>
