<section class="row">
  <div id="page" class="container">
    <h3><%= @photo.title.capitalize %></h3>
      <% if @photo.images.attached? %>
        <% @photo.images.each do | image | %>
          <%= image_tag image.variant(resize: "500x500"), alt: "Photo posted by #{@photo.author}", class: "card-img" %>
        <% end %>
      <% end %>
      <br /><br />
      <h6 class="card-subtitle mb-2 text-muted">Posted by: <%= @photo.author %></h6>
      <p class="card-text fr-view"><%= raw @photo.description %></p>
  </div>
</section>

<br />

<% if current_user == @photo.user %>
  <section class="row">
      <div class="container">
        <button type="button" class="btn btn-secondary">
          <%= link_to 'Edit Photo', edit_photo_path(@photo) %>
        </button>

        <button type="button" class="btn btn-secondary">
          <%= link_to 'Delete Photo', photo_path(@photo), method: :delete, data: { confirm: "Are you sure?" } %>
        </button>
    </div>
  </section>
<% end %>

<br />
<br />

<section class="row">
  <div class="container">
    <div class="card border-primary">
      <div class="card-body">
        <h5>Comments</h5>
        <div class="fr-view"><%= render @photo.comments %></div>
        <h6>Add a Comment</h6>
        <%= render "comments/form", object: @photo %>
      </div>
    </div>
  </div>
</section>

<br />

<section class="row">
  <div class="container">
    <button type="button" class="btn btn-secondary">
      <%= link_to "All photos", photos_path %>
    </button>
  </div>
</section