<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h1><%= @photo.title.capitalize %></h1>
      <% if @photo.images.attached? %>
        <% @photo.images.each do | image | %>
          <%= image_tag image.variant(resize: "500x500") %>
        <% end %>
      <% end %>
      <br /><br />
      <h6 class="card-subtitle mb-2 text-muted">Posted by: <%= @photo.author %></h6>
      <p class="card-text fr-view"><%= raw @photo.description %></p>
    </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% if current_user == @photo.user %>
      <button type="button" class="btn btn-secondary">
        <%= link_to 'Edit Photo', edit_photo_path(@photo) %>
      </button>

      <button type="button" class="btn btn-secondary">
        <%= link_to 'Delete Photo', photo_path(@photo), method: :delete, data: { confirm: "Are you sure?" } %>
      </button>
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>

<br />
<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h5>Comments</h5>
      <div class="fr-view"><%= render @photo.comments %></div>
  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h6>Add a Comment</h6>
    
      <%= render "comments/form", object: @photo %>
      <%= render "shared/edit_toolbar" %>
  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <button type="button" class="btn btn-secondary">
      <%= link_to "All photos", photos_path %>
    </button>
  </div>
  <div class="container col-3"></div>
</div>