<section class="row">
  <div class="container">
    <ul id="posts-list">
      <% @posts.each do | post | %>
          <% if post.type == "Recipe" %>
            <li class="card border-danger">
          <% elsif post.type == "Story" %>
            <li class="card border-success">
          <% else %>
            <li class="card border-info">
          <% end %>
            <div class="card-body">
              <div class="card-title">
                <% if post.type == "Story" %>
                  <h4><%= link_to post.title, controller: "#{post.type.gsub("y", "ie").downcase}s", action: "show", id: "#{post.id}" %></h4>
                <% else %>
                  <h4><%= link_to post.title, "#{post.type.downcase}s/#{post.id}" %></h4>
                <% end %>
                <h6 class="card-subtitle mb-2 text-muted"><%= post.author %></h6>
                  <% if (post.type == "Photo") && (post.images.attached?) %>
                    <%= image_tag post.images.first.variant(resize: "300 x 300"), alt: "Photo posted by #{post.author}", class: "card-img" %>
                    <% else %>
                    <p class="card-text fr-view">
                      <%=  truncate(post.description.html_safe, length: 75, separator: " ", escape: false) %>
                    </p>
                  <% end %>
              </div>
            </div>
        </li>
        <br />
      <% end %>
    </ul>
  </div>
</section>