<%= render "shared/create_post" %>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% @posts.each do | post | %>

      <% if post.type == "Recipe" %>
        <div class="card border-danger">
      <% elsif post.type == "Story" %>
        <div class="card border-success">
      <% else %>
        <div class="card border-warning">
      <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= link_to post.title, "#{post.type.downcase}s/#{post.id}" %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.author %></h6>
            <p class="card-text fr-view"><%= raw post.description %></p>
              <% if (post.type == "Photo") && (post.images.attached?) %>
                <%= image_tag post.images.first.variant(resize: "500 x 500") %>
              <% end %>
        </div>
      </div>

      <br />
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>