<br />
<section class="row">
  <div class="container">
    <% unless @posts.nil? %>
      <% if @posts.empty?%>
        <h2>No posts found matching your query.</h2>
      <% else %>
        <div class="card border-secondary">
        <div class="card-body">
          <h4 class="card-title">Search results</h4>

            <table style="width: 100%;">
              <thead>
                 <tr>
                   <th>Title</th>
                   <th>Author</th>
                 </tr>
              </thead>

              <tbody>
                <% @posts.results.each do |post| %>
                    <tr>
                      <% if post.class == User %>
                        <% u = User.find(post.id) %>
                          <td></td>
                          <td></td>

                      <% elsif post.class == Ingredient %>
                        <% r = Recipe.find(post.recipe_id) %>
                        <td><%= link_to r.title, controller: "#{r.type.downcase}s", action: "show", id: "#{r.id}" %></td>
                        <td><%= r.author%></td>

                      <% elsif post.class == Instruction %>
                        <% r = Recipe.find(post.recipe_id) %>
                        <td><%= link_to r.title, controller: "#{r.type.downcase}s", action: "show", id: "#{r.id}" %></td>
                        <td><%= r.author%></td>

                      <% elsif post.class == Tag %>
                        <% t = Post.find((post.post_ids).first) %>
                        <td><%= link_to t.title, controller: "#{t.type.downcase}s", action: "show", id: "#{t.id}" %></td>
                        <td><%= t.author%></td>

                      <% elsif post.type == "Story" %>
                        <td><%= link_to post.title, controller: "#{post.type.gsub("y", "ie").downcase}s", action: "show", id: "#{post.id}" %></td>
                        <td><%= post.author %></td>
                      <% else %>

                        <td><%= link_to post.title, controller: "#{post.type.downcase}s", action: "show", id: "#{post.id}" %></td>
                        <td><%= post.author %></td>
                      <% end %>
                    </tr>
                  </a>
                <% end %>
              <tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>