<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">  
    <h4><%= @post.title %></p></h4>
    <p><%= @post.author %></p>
    <p><%= @post.description %></p>
  </div>
  <div class="container col-3"></div>
</div>

<br>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <% if current_user == @post.user %>
      <button type="button" class="btn btn-secondary">
        <%= link_to 'Edit Story', edit_story_path(@post) %>
      </button>

      <button type="button" class="btn btn-secondary">
        <%= link_to 'Delete Story', recipe_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
      </button>
    <% end %>
  </div>
  <div class="container col-3"></div>
</div>

<br />
<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <button type="button" class="btn btn-secondary">
      <%= link_to "All Stories", stories_path %>
    </button>
  </div>
  <div class="container col-3"></div>
</div>