<section class="row">
  <div id="page" class="container">
    <h4><%= @post.title %></p></h4>
    <p><%= @post.author %></p>
    <p class="fr-view"><%= raw @post.description %></p>
  </div>
</section>

<br>

<section class="row">
  <div class="container">
    <% if current_user == @post.user %>
      <button type="button" class="btn btn-secondary">
        <%= link_to 'Edit Post', edit_post_path(@post) %>
      </button>

      <button type="button" class="btn btn-secondary">
        <%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
      </button>
    <% end %>
  </div>
</section>

<br />
<br />

<section class="row">
  <div class="container">
    <button type="button" class="btn btn-secondary">
      <%= link_to "All Stories", posts_path %>
    </button>
  </div>
</section>